{
   "singleQuote": true,
   "semi": false,
   "tabWidth": 3,
   "printWidth": 150,
   "plugins": ["prettier-plugin-tailwindcss"],
   "tailwindStylesheet": "./src/app/globals.css",
   "tailwindFunctions": ["clsx"]
}
